*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgColor);
}

.card{
    
}


:root{
    --bgColor: #191b1d;
    --cardColor: #22262bff;
    --accentColor: #bc1f4b;
    --white: #fff;
}