@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgColor);
    display: grid;
    place-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    background-color: var(--contColor);
    width: 600px;
    min-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.ranking h1{
    font-size: 1.5rem;
    font-weight: 500;
}

.ranking{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
}

.ranking .iconSvg{
    background-color: var(--shareColor);
    padding: 20px;
    width: 80px;
    border-radius: 20px;
    color: var(--bgColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstplace{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px -10px;
    background-color: var(--winBar);
    padding: 25px;
    color: var(--bgColor);
    font-size: 1.3rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.firstplace:before{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: var(--winBar);
    transform: skewY(30deg);
    z-index: -1;
}

.firstplace::after{
    position: absolute;
    content: '';
    bottom: -15px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: var(--winBar);
    transform: skewY(-30deg);
    z-index: -1;
}

.Newplace{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    color: var(--black);
    font-size: 1.3rem; 
}

.position{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.position .medal img{
    width: 35px;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: var(--margin);
}

.continue{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #5b5be6;
    padding: 15px;
    border-radius: 20px;
    border-bottom: 5px solid #1d1d82;
    color: var(--white);
    cursor: pointer;
    outline: none;
    gap: 10px;
}

.continue:active{
    transform: scale(.9);
    outline: none;
}

:root{
    --winBar: #5b5be6;
    --winBar2:rgb(42, 42, 118)6;
    --contColor: #ffffff;
    --shareColor: #ff5d78;
    --contColor: #ffffff;
    --bgColor: #fcfbff;
    --margin: 15px auto;
    --padding: 25px;
    --black: #000;
    --white: #fff;
}