*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgColor);
}


.card{
    background-color: var(--cardColor);
}

:root{
    --bgColor: #10182f;
    --cardColor: #fff;
    --buttonColor: #10182fff;
    --verifiedColor: #1e8530;
}