@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgColor);
    display: grid;
    place-content: center;
}

.card{
    border-radius: 10px;
    background-color: var(--cardColor);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    width: 900px;
}

.tools{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 25px;
}

.tool1{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 40px;
}

.texts h1{
    font-size: 1.1rem;
}

.texts p{
    /* width: 100px; */
}



button{
    padding: 15px 40px;
    background-color: var(--bgColor);
    color: var(--cardColor);
    border-radius: 10px;
}

:root{
    --bgColor: #10182f;
    --cardColor: #fff;
    --buttonColor: #10182fff;
    --verifiedColor: #1e8530;
}