@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
    color: var(--textColor);
}

.container{
    display: flex;
    flex-direction: column;
}

.planCont{
    display: flex;
}

.iconCont{
    width: 50px;
    border-radius: 20px;
    margin-left: 20px;
    background: var(--btnColor);
}

.box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 90px;
    padding: 40px;
    background-color: var(--contcolor);
    width: 400px;
    transition: all 0.1s ease-in;
}

.box:hover{
    cursor: pointer;
    transform: scale(.9);
}

#box2 .head{
    background-image: var(--liteColor);
}

#box1 .head{
    background: var(--freeColor);
    color: var(--textColor);
}

.price{
    text-align: center;
}

.head{
    text-align: center;
    background-image: var(--proColor);
    padding: 20px;
    margin: -25px -25px -35px;
    color: var(--bgColor);
    text-transform: uppercase;
    font-size: .6rem;
    border-radius: 5px;
}

#box1 .head h1{
    font-weight: 700;
}

.head h1{
    font-weight: 700;
}

.price h3{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.price h1{
    font-size: 4rem;
    position: relative;
}

.price h1 .curr{
    font-size: 1.5rem;
    position: absolute;
    top: 15px;
    margin-left: -15px;
}

.price p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    color: var(--btnColor);
}

.btn{
    border: 2px solid var(--btnColor);
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--textColor);
}

#box2 .btn{
    background-color:var(--btnColor);
    color: var(--iconCol);
}

#box2 .btn:hover{
    border: 2px solid var(--btnColor);
    background: transparent;
    color: var(--btnColor);
}

.btn:hover{
    background-color: var(--btnColor);
    color: var(--iconCol);
}

.feats ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

li:before {    
    font-family: 'FontAwesome', sans-serif;
    content: '\f00c';
    margin: 0 15px 0 -15px;
    color: green;
}

li.cancel:before{   
    font-family: 'FontAwesome', sans-serif;
    content: '\f00d';
    margin: 0 15px 0 -15px;
    color: red;
} 

.icon{
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--btnColor);
    width: 50px;
    height: 50px;
    color: var(--iconCol);
    padding-top: 8px;
    border-radius: 50px;
    text-align: center;
}

:root{
    --freeColor: #f9fafe;
    --liteColor: linear-gradient(90deg, #c3d0fe, #b475fe);
    --proColor: linear-gradient(90deg, #ffb2be, #ffca72);
    --btnColor: #28264d;
    --contcolor: #ffffff;
    --bgColor: #f9fafe;
    --textColor: #000;
    --iconCol: #e9eaf2;
}

.darkMode{
    --textColor: #e9eaf2;
    --bgColor:#1b1b20ff;
    --contcolor: #28292fff;
    --textColor: #e9eaf2;
    --btnColor: #7570d7;
}