*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 23px; */
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--bgColor);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 20px;
    gap: 95px;
    padding: 45px;
    background-color: var(--contcolor);
}

.price{
    text-align: center;
}

.head{
    text-align: center;
    background-image: var(--proColor);
    padding: 10px;
    margin: -35px;
}

.btn{
    border: 2px solid var(--btnColor);
    background: transparent;
    padding: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--btnColor);
    color: var(--contcolor);
    border: none;
    /* outline: none; */
}

:root{
    --freeColor: #f9fafe;
    --liteColor: linear-gradient(90deg, #f9fafe, #c3d0fe);
    --proColor: linear-gradient(90deg, #ffb2be, #ffca72);
    --btnColor: #28264d;
    --contcolor: #ffffff;
    --bgColor: #f9fafe;
}