*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--white);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 300px;
    border-radius: 15px;
}

.sync{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sync , .updating {
    border-bottom: 2px solid var(--borderCol);
    padding-bottom: 15px;
}

.sync .iconText, .updating{
    display: flex;
    align-items: center;
    gap: 7px;
    
}

.icon svg{
    color: green;
}

:root{
    --bgColor: #f6faffff;
    --white: #fff;
    --borderCol: #a1add4ff;
}