*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.history, .awards, .ideas{
    background-color: var(--white);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
}

.history:hover, .awards:hover, .ideas:hover{
    background-color: var(--btnColor);
    color: var(--white);
}

:root{
    --bgColor: #f1f2f8;
    --btnColor: #628dfeff;
    --white: #fff;
}