*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColor);
}

.first{
    background-color: var(--firstDivCol);
    width: 450px;
    height: 800px;
}

.adressBook{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: #5223a4 0px 25px 45px;
}


.adressBook .address{
    height: 100%;
    background: var(--iconCol2);
}


.adressBook svg{
    color: var(--iconCol);
    margin: 30px;
}

:root{
    --firstDivCol: #7d57c2;
    --SecondDivCol: #fff;
    --iconCol: #cfb9fb;
    --iconCol2: #a685e0;
    --notificationCol: #fe4181;
    --bgColor: #f0def9;
}   