*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColor);
}

.container{
    display: flex;
    align-items: center;
}

.first{
    background-color: var(--firstDivCol);
    width: 430px;
    height: 830px;
    position: relative;
}

.edit{
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    right: 35px;
    background-color: var(--SecondDivCol);
    border-radius: 100%;
    z-index: 1;
    box-shadow: #5223a4 10px 25px 45px;
    cursor: pointer;
}

.edit:hover{
    background-color: #5223a4;
}

.edit:hover svg{
    color: #fff;
}

.edit svg{
    color: var(--iconCol2);
}

.adressBook{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: #5223a4 0px 25px 45px;
    border-bottom: 2px solid var(--iconCol2);
}

.adressBook .address{
    height: 100%;
    background: var(--iconCol2);
    cursor: pointer;
}

.adressBook .address:hover{
    background-color: #361d63;
}

.adressBook svg{
    color: var(--iconCol);
    margin: 30px;
}

.user1{
    display: flex;
    align-items: center;
    padding: 20px 25px;
    width: 100%;
    cursor: pointer;
}

.user1:hover{
    background-color: var(--hoverCol);
}

.users{
    color: var(--SecondDivCol);
}

.user1 img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 10px;
    border: 8px solid var(--iconCol2);
}

.user1 h1{
    margin-bottom: 5px;
    font-size: 1rem;
}

.user1 p{
    margin-right: 10px;
    width: 250px;
    font-size: .8rem;
}

.time h2{
    font-size: .8rem;
    color: var(--iconCol);
    opacity: 50%;
}

.second{
    width: 650px;
    height: 750px;
    background-color: var(--SecondDivCol);
}

.chats{
    display: flex;
    align-items: center;
    margin: 35px;
}

.chats img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 5px 20px;
}

.chat{
    background-color: var(--SecondDivCol);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.bottom{
    position: relative;
}

.bottom input{
    margin-top: 31px;
    padding: 30px;
    border: none;
    width: 100%;
    height: 80px;
    font-size: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.bottom input:focus{
    border: none;
    outline: none;
}

.send{
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 40px;
    width: 50px;
    height: 50px;
    background-color: var(--firstDivCol);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.send svg:hover{
    color: var(--SecondDivCol);
}

:root{
    --firstDivCol: #7d57c2;
    --SecondDivCol: #fff;
    --iconCol: #cfb9fb;
    --iconCol2: #a685e0;
    --notificationCol: #fe4181;
    --bgColor: #f0def9;
    --hoverCol: #5f39a3;
}   