@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input{
    position: relative;
}

#SearchBox{
    width: 350px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--btnColor);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn{
    background-color: var(--white);
    width: 100px;
    height: 35px;
    position: absolute;
    top: 7px;
    right: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;

}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.history, .awards, .ideas{
    background-color: var(--white);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
}

.history:hover, .awards:hover, .ideas:hover{
    background-color: var(--btnColor);
    color: var(--white);
}

.sortBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    margin-top: 30px;
    width: 200px;
    cursor: pointer;
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
}

.sortOptions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    /* transition: all 0.5s; */
}

.show{
    display: none;
    height: 500%;
}

/* .show{
    display: none;
} */

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    list-style: none;
    font-weight: 700;
}

.sortOptions ul li:hover{
    background-color: aliceblue;
    padding: 20px;
}

:root{
    --bgColor: #f1f2f8;
    --btnColor: #628dfeff;
    --white: #fff;
}