
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
}

:root{
    --profileColor: #4c70d6;
    --btnColor: #628dff;
    --focusColor: #2474f8;
    --bgColor: #f7fbfe;
}