@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgCol);
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 400px;
    background-color: var(--white);
}

button{
    padding: 10px 20px;
    background-color: var(--buttonCol);
    border: none;
    border-radius: 6px;
    color: var(--white);
}

:root{
    --buttonCol: #4194f3ff;
    --bgCol: #f1f1f1;
    --white: #ffff;
}