@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgCol);
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 500px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
}

.profile{
    margin-top: 10px;
}

.profile h1{
    font-size: 1.5rem;   
    margin-bottom: -8px;
}

.profile p span{
    font-weight: 700;    
}

.profile p{
    font-size: .9rem;
}

.profile h2{
    font-size: .8rem;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head h1{
    font-size: 1.1rem;
}

button{
    padding: 10px 20px;
    background-color: var(--buttonCol);
    border: none;
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
}

.join{
    background-color: green;
}

.join:hover{
    background-color: greenyellow;
    color: black;
}

button:hover{
    background-color: rgb(29, 108, 198);
}

.profs h1{
    font-size: 1rem;
}

.mainImg .texts .userProf img{
    width: 35px;
    border-radius: 50px;
    border: 3px solid var(--white);
    margin-top: 7px;
}

.profs{
    display: flex;
    align-items: center;
    gap: 65px;
    margin-top: 10px;
}

.mainImg{
    display: flex;
    gap: 10px;
    align-items: center;
}

.mainImg img{
    width: 55px;
    border-radius: 50px;
}

.userProf {
    display: flex;
}

.user{
    margin-right: -10px;
}

:root{
    --buttonCol: #4194f3ff;
    --bgCol: #f1f1f1;
    --white: #ffff;
}