@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.firstDiv{
    background-color: var(--SubtleBlue);
    width: 1000px;
    height: 450px;
    padding: 25px;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondDiv{
    background: linear-gradient(0.25turn,  var(--LightBlue), var(--Dark-blue));
    width: 95%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border-radius: 30px;
}

.secondDiv h1{
    font-size: 2rem;
    color: var(--white);
    /* font-weight: 600; */
}

.secondDiv p{
    font-size: 1rem;
    color: var(--white);
}

.inputBx{
    position: relative;
}

.inputBx input[type="email"]{
    width: 500px;
    height: 65px;
    background-color: var(--input);
    border: 3px solid rgba(255, 255, 255, 0.2) ;
    padding: 15px;
    border-radius: 80px;
}

.inputBx input[type="email"]::placeholder{
    color: var(--white);
    opacity: 50%;
}

.inputBx input[type="email"]:focus{
    outline: none;
    color: var(--white);
}

.inputBx input[type="button"]{
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
    /* content: "f061"; */
}

.profiles{
    position: absolute;
    bottom: -50px;
}

.users{
    margin-right: 45px;
    
}

.users img{
    border-radius: 50%;
    border: 10px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 10px;

}

:root{
    --Dark-blue: #2143be;
    --LightBlue: #4e6ede;
    --SubtleBlue: #dde6fa;
    --white: #fff;
    --input: #8699e5;
}