@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.firstDiv{
    background-color: var(--SubtleBlue);
    width: 65%;
    height: 400px;
    padding: 25px;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondDiv{
    background: linear-gradient(0.25turn,  var(--LightBlue), var(--Dark-blue));
    width: 95%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border-radius: 30px;
}

.secondDiv h1{
    font-size: 2rem;
    color: var(--white);
    /* font-weight: 600; */
}

.secondDiv p{
    font-size: 1rem;
    color: var(--white);
}

.inputBx input[type="email"]{
    width: 500px;
    background-color: transparent;
    border: 3px solid var(--white) ;
    padding: 15px;
    border-radius: 80px;
    position: relative;
}

.inputBx input[type="button"]{
    width: 50px;
    height: 50px;
    background-color: var(--white);
    content: "f061";
}


.profiles{
    position: absolute;
    bottom: -50px;
}

.users{
    margin-right: 45px;
    
}

.users img{
    border-radius: 50%;
    border: 10px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 10px;

}

:root{
    --Dark-blue: #2143be;
    --LightBlue: #4e6ede;
    --SubtleBlue: #dde6fa;
    --white: #fff;
}