@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, var(--bgColor1), var(--bgColor2));
    display: grid;
    place-content: center;
    font-family: 'Figtree', sans-serif;
}

.div{
    background-color: var(--accentColor);
    /* width: 100%; */
    height: 150px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 60px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.div img{
    width: 100px;
    position: absolute;
    top: 106px;
}

.div::before{
    content: "";
    width: 130px;
    height: 130px;
    background-color: var(--cardColor);
    position: absolute;
    bottom: -70px;
    border-radius: 50%;
}

.card{
    width: 500px;
    background-color: var(--cardColor);
    border-radius: 10px;
    position: relative;
}

.mainDiv{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.orderDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.counter, .price, .addBev{
    display: flex;
    align-items: center;
    gap: 20px;
}

.addBev{
    background: transparent;
    width: 200px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1.5px solid #000;
    cursor: pointer;
    transition: all 0.5s ease;
    gap: 10px;
}

.textDiv{
    text-align: center;
}

.btn{
    width: 100%;
    background-color: var(--accentColor);
    padding: 20px;
    border: none;
    font-size: 1rem;
    color: var(--cardColor);
    font-weight: bold;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.btn:hover , .addBev:hover{
    transform: scale(.9);
}

.totalDiv{
    background-color: var(--totalDiv);
    padding: 25px;
    border-radius: 10px;
}

.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .7rem;
    margin: 5px 0px;
}

.total h1{
    font-size: .9rem;
    font-weight: 500;
}

h1{
    font-size: 1.1rem;
}

h2{
    font-size: 1.1rem;
}

#add , #remove, .uil-times-circle{
    cursor: pointer;
    font-size: 1.2rem;
}

:root{
    --bgColor1:#ffc76f;
    --bgColor2:#fc8d60;
    --cardColor: #fff;
    --accentColor: #ff6849;
    --totalDiv: #f5f4f7;
}