@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.bg-con{
    width: 500px;
    height: 700px;
    margin: -450px -50px;
    background-color: var(--bg-container);
}

.container{
    background-color: var(--container-color);
    padding: 80px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    display:flex;
    flex-direction: column;
    gap: 15px;
}

h1{
    font-family: 'Merriweather', serif;
}

span a{
    color: var(--btn-color);
    text-decoration: none;
}

input[type="button"]{
    padding: 20px 35px;
    border: none;
    border-radius: 10px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.submit{
    background-color: var(--btn-color);
    color: var(--white);
    margin: 10px;
}


:root{
    --bg-color: #f4f7ff;
    --btn-color: #fe72a4;
    --container-color: #f9fafe;
    --bg-container: #e1e9ff;
    --white: #fff;
}