@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgColor);
    position: relative;
}

.wrapper{
    width: 600px;
    padding: 35px;
    background-color: var(--numberColumn);
    border-radius: 30px 0px 0px 0px;
    height: 700px;
}

.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
    color: var(--white);
}

.cursors {
    display: flex;
    gap: 15px;
}

.nav{
    cursor: pointer;
}

.wrapper header h1{
    padding: 2px 10px;
}

.active{
    background-color: var(--btnColor);
}

.inActive{
    opacity: 25%;
}

.wrapper2{
    background-color: var(--taskColumn);
    width: 350px;
    height: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    border-radius: 0px 0px 30px 0px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 15%;
    color: var(--white);
}

.icons h2{
    font-size: 1.2rem;
}

.icons svg{
    width: 130px;
}

.calender{
    padding: 20px;
}

.calender ul{
    display: flex;
    list-style: none;
    color: var(--white);
    flex-wrap: wrap;
    text-align: center;
}

.calender .weeks li{
    font-weight: 500;
    font-size: 1rem;
}

.calender .days li{
    cursor: pointer;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    line-height: 2;
}

.calender ul li{
    width: calc(100% / 7);
    transition: all 0.1s ease-in;
}

.calender .days li:hover{
    background-color: var(--btnColor);
}

.days li{
    padding: 20px 0px;
    border-radius: 10px;
}

.wrapper2 .heading h1{
    font-size: .9rem;
    letter-spacing: 8px;
}

.wrapper2 .heading p{
    margin-top: 45px;
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
}

:root{
    --numberColumn: #210f63;
    --taskColumn: #1c0a59ff;
    --bgColor: #150a42;
    --btnColor: #dd16efff;
    --white: #fff;
}


.btnClass{
    text-align: center;
    margin-bottom: 45px;
}

/* CSS */
.btn {
    background: var(--btnColor);
    border: 0;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 1.25rem;
    position: relative;
    transition: transform .2s;
}

.btn:disabled {
  color: #787878;
  cursor: auto;
}

.btn:not(:disabled):hover {
  transform: scale(1.05);
}

.btn:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.btn:focus {
  outline: 0 solid transparent;
}

.btn:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.btn:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.btn:not(:disabled):active {
  transform: translateY(.125rem);
}

.overlay{
    background-color: #000;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.inputTask{
    min-width: 500px;
    background-color: var(--numberColumn);
    height: 250px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    visibility: hidden;
    padding: 0px 50px;
}

input[type="text"]{
    width: 500px;
    height: 70px;
    padding: 20px;
    background-color: var(--white);
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
}

input[type="text"]:focus{
    outline: none;
}

.save{
    width: 100px;
    height: 70px;
    background-color: var(--btnColor);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.save:hover{
  transform: scale(1.05);
}

.tasks {
    margin-top: 20px;
}

.tasks ul li{
    list-style: none;
}

.icons{
    display: none;
}