
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    line-height: 1.5;
    background-color: var(--bgColor);
    display: grid;
    place-items: center;
}

.container{
    background-color: var(--contColor);
    width: 1000px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.cont1{
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.cont1 .icons img{
    width: 35px;
    margin-right: 10px;
}

.line{
    width: 500px;
    background-color: var(--lineColor);
    height: 10px;
    border-radius: 10px;
    position: relative;    
}

.line::before{
    content: "";
    position: absolute;
    width: 200px;
    background-color: var(--lineBefore);
    height: 10px;

}

img{
    border-radius: 30%;
    width: 150px;
}

:root{
    --bgColor: #e0e0e0ff;
    --contColor: #fffbf3ff;
    --btnColor: #14143bff;
    --lineColor: #e0e0e0;
    --lineBefore: #ef7b37;

    --white: #fff;
}