@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-image: linear-gradient(#feb048, #ffd148);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--contColor);
    padding: 40px;
    border-radius: 10px;
    width: 900px;

    h1{
        font-size: 1.2rem;
    }

    p{
        width: 550px;
        font-size: .8rem;
    }
}

.cards{
    margin-top: 45px;
    display: flex;
    gap: 20px;
}

.card1{
    width: 300px;
    padding: 40px;
    background-color: var(--cardColor);
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;
}

.card1 button{
    background-color: var(--buttonColor);
    color: var(--cardColor);
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.texts{
    text-align: center;
}

.texts h1{
    font-size: .9rem;
}

.texts h2{
    font-weight: 800;
    font-size: 2rem;
}

.texts h2 span{
    font-weight: 400;
    font-size: .8rem;
}

ul {
    list-style: none;
    margin-top: 20px;
}
  
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul li{
    font-size: .8rem;
    font-weight: 500;
}


:root{
    --contColor: #f3f5f7;
    --cardColor: #fff;
    --buttonColor: #13161eff;
    --tipColor: #e1e1e1ff;
    --linearGradient: #feb048, #ffd148;
}
